<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">

    <link href="/layui-v1.0.9_rls/layui/css/layui.css" type="text/css" rel="stylesheet" />

    <link href="/css/dxhnews.css" rel="stylesheet">
</head>

<body>
    

<h1></h1>
<p>Welcome to </p>


</body>
<script type="text/javascript">
    var contextPath = "";
</script>
<script src="/layui-v1.0.9_rls/layui/layui.js" type="text/javascript"></script>
<script src="//cdn.bootcss.com/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript" src="/js/dxhnews.js"></script>


</html>