* {
  padding: 0px;
  margin: 0px;
}
.header {
  width: 100%;
  background-color: #3687a0;
}
.index-layui-form {
  width: 300px;
  margin: auto;
  margin-top: 200px;
}
.error-hint {
  color: red;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}
.layui-nav {
  text-align: center;
}
.news-title-img {
  width: 150px;
  height: 80px;
}
.newslist-content {
  width: 90%;
  margin: auto;
}
.newslist-content table thead tr th {
  text-align: center;
}
.newslist-content table td {
  text-align: center;
}
.newslist-content table td img {
  width: 150px;
  height: 80px;
}
.preview-content {
  width: 90%;
  margin: auto;
}
.preview-content .layui-btn {
  margin: 20px ;
}
.preview-content .title {
  font-size: 20px;
  text-align: center;
}
.preview-content .content p {
  text-indent: 2em;
  padding: 10px;
  line-height: 26px;
}
.editor-content {
  width: 90%;
  margin: auto;
  padding-top: 20px;
}
.editor-content .btn-submit {
  margin-top: 20px;
}
.editor-content textarea {
  height: 500px;
}
.editor-content .layui-form-item .layui-input-inline {
  width: 600px;
}
.editor-content .btn-upload-editor {
  margin-top: 20px;
}
img.test {
  width: 50px;
  height: 50px;
}
